@media (min-width: 768px){
    .activity-image-fade-right {
        -webkit-mask-image: linear-gradient(to right,
            black 0%,
            black 40%,
            rgba(0, 0, 0, 0.8) 55%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.4) 85%,
            transparent 100%
        );
        mask-image: linear-gradient(to right,
            black 0%,
            black 40%,
            rgba(0, 0, 0, 0.8) 55%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.4) 85%,
            transparent 100%
        );
    }
}

@media (max-width: 767px) {
    .activity-image-fade-down {
        -webkit-mask-image: linear-gradient(to bottom,
            black 0%,
            black 40%,
            rgba(0, 0, 0, 0.8) 55%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.4) 85%,
            transparent 100%
        );
        mask-image: linear-gradient(to bottom,
            black 0%,
            black 40%,
            rgba(0, 0, 0, 0.8) 55%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.4) 85%,
            transparent 100%
        );
    }
}